{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: Contact blok
  @author:   sam
  ====================================================== #}

{% set wave = wave is defined ? wave : true %}
{% set title = title is defined ? title : '' %}
{% set phone = phone is defined ? phone : '' %}
{% set cta = cta is defined ? cta : '' %}
{% set class = class is defined ? class : '' %}

{% set showContact = title | length or phone | length or cta['url'] is defined and cta.url | length ? true : false %}
<div class="pt-2 pt-lg-4 mt-auto position-relative{{ showContact ? '' : ' h-5 h-lg-15' }} {{ class }}">
  <div class="container">
    <div class="row">
      {% if wave %}
        <div class="wave wave-upper wave-upper-small">
          {% include '_inline/_svg/upper-wave' with {
            class: 'upper-wave'
          } %}
          <div class="{{ showContact ? 'h-6' : 'h-2' }} w-100 bg-teal h-lg-auto">
          </div>
        </div>
      {% endif %}
      {% if showContact %}
        <div class="w-100 offset-lg-1 col-lg-10">
          <div class="c-contact-block">
            <div class="c-contact-block__wrapper">
              <p class="c-contact-block__title">
                {{ title }}
              </p>
              {% if phone | length or cta.url | length %}
                <div class="c-contact-block__phone">
                  {% if phone | length %}
                    <div class="c-contact-block__phone__wrapper">
                      <svg class="c-contact-block__phone-icon" width="25" height="25">
                        <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon-telefoon"></use>
                      </svg>
                      <span class="c-contact-block__phone-pre">Bel</span>
                      <a class="c-contact-block__phone-link" href="tel:{{ phone | striptags }}"
                         rel="external">{{ phone }}</a>
                    </div>
                  {% endif %}
                  {% if phone | length and cta.url | length %}
                    <div class="c-contact-block__between">of</div>
                  {% endif %}
                  {% if cta.url | length %}
                    <div class="c-contact-block__cta">
                      <a class="c-btn c-btn-yellow" href="{{ cta.url }}" title="{{ cta.title | length ? cta.title : cta.text }}"
                         target="{{ cta.target }}">
                        {{ cta.text }}
                      </a>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

