{# @var craft \craft\web\twig\variables\CraftVariable #}

{% set bodyClass = 'default gdpr' %}
{% set hideNotification = true %}
{% extends '_layouts/_layout' %}

{% block content %}


  {# {% cache %} #}
  {# {% include '_partials/_global/header' with { #}
  {# title: entry.title, #}
  {# image: entry.headerImage.one(), #}
  {# intro: entry.intro #}
  {# } %} #}
  {# {% endcache %} #}
  <div class="container">
    <div class="row">
      <div class="w-100 my-4 col-lg-10 offset-lg-1">

        <div id="mainContentSkip">
          {% include "_partials/_common/matrix.twig" %}

          {# Get the active parts that needs cookies #}
          {% set checkboxes = craft.gdpr.getCheckboxOptions %}

          {% if checkboxes | length > 0 %}
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <form method="post">
                    {{ csrfInput() }}

                    <input name="action" type="hidden" value="gdpr/site/cookies">

                    {% for key, checkbox in checkboxes %}
                      <div class="mb-2">
                        <label for="{{ key }}">
                          <input type="checkbox" id="{{ key }}" title="{{ checkbox.title }}"
                                 name="{{ key }}" {{ checkbox.checked }}>

                          {% set gdprTitle = 'gdpr.option.title.' ~ checkbox.title %}
                          <span> {{ gdprTitle | t('gdpr') | capitalize }}</span>
                        </label>
                      </div>
                    {% endfor %}
                    <button type="submit" class="c-btn">{{ "gdpr.save-settings" | t('gdpr') | capitalize }}</button>
                  </form>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
