{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: breadcrumb
  @author:   sam
  ====================================================== #}
{#
  Breadcrumb, with or without Seomatic
#}


{% set class = class is defined ? class : '' %}

{# Check if Seomatic is used #}
{% if te is defined %}
  {% set breadcrumbLinks = seomatic.jsonLd.get('breadcrumbList').itemListElement %}
{% else %}
  {% if breadcrumbLinks is not defined %}
    {% set breadcrumbLinks = [] %}
    {# home #}
    {% set home = craft.app.getElements().getElementByUri('__home__', currentSite.id) %}
    {% set breadcrumbLinks = breadcrumbLinks|merge([{
      item: home.url ?? alias(currentSite.baseUrl),
      name: home.title ?? 'home'|t,
    }]) %}

    {# get elements #}
    {% set segments = craft.app.request.segments %}
    {% for segment in segments %}
      {% set uriPart = segments[0:loop.index]|join('/')|literal %}
      {% set element = craft.app.elements.getElementByUri(uriPart, currentSite.id) %}
      {% if element %}
        {% set breadcrumbLinks = breadcrumbLinks|merge([{
          item: element.url,
          name: element.title,
        }]) %}
      {% elseif nonElementLinks %}
        {% set breadcrumbLinks = breadcrumbLinks|merge([{
          item: url(uriPart),
          name: segment|t,
        }]) %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

 {% if breadcrumbLinks | length %}
   <nav class="c-breadcrumb {{ class }}" aria-label="{{ 'breadcrumbs'|t }}">
     <ul itemscope itemtype="http://schema.org/BreadcrumbList">
       {% for link in breadcrumbLinks %}
         <li class="{{ loop.last ? 'active' }}" {{ loop.last ? 'aria-current="page"' }} itemprop="itemListElement"
             itemscope itemtype="http://schema.org/ListItem">
           {% if not loop.last %}
             <a title="Go to page {{ link.name }}" href="{{ link.item }}" itemprop="item">
               <span itemprop="name">{{ link.name }}</span>
             </a>
             {% include '_inline/_svg/angle-right-light.twig' %}
           {% else %}
             <span itemprop="item">
                 <span itemprop="name">{{ link.name }}</span>
              </span>
           {% endif %}
         </li>
       {% endfor %}
     </ul>
   </nav>
 {% endif %}
