{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: teaser
  @author:   sam
  ====================================================== #}
{#
  Teaser of max. 3 (news) items
#}
{% import "_partials/_macros.twig" as macro %}

{% set title = title is defined ? title : '' %}
{% set items = items is defined ? items : '' %}
{% set cta = cta is defined ? cta : '' %}
{% set ctaMicro = ctaMicro is defined ? ctaMicro : '' %}

{% if items | length %}
  {# Lets us loop through items so we can see if there are any summary's avalaible #}

  {% set teasers = [] %}
  {% set summaryFound = false %}
  {% for item in items %}
    {% set teasers = teasers | merge ([item]) %}

    {# if no summary has been found yet, check if this item has a summary #}
    {% if not summaryFound %}
      {% if item['summaryText'] is defined and item.summaryText | length %}
        {% set summaryFound = true %}
      {% endif %}
    {% endif %}
  {% endfor %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        {% if title | length %}
          <h2 class="mb-3 text-center">
            {{ title }}
          </h2>
        {% endif %}
      </div>

      <div class="c-teaser{{ summaryFound ? '' : ' c-teaser-small' }} js-teaser swiper">
        <div class="c-teaser__container swiper-container">
          <div class="c-teaser__wrapper swiper-wrapper">
            {% for item in teasers %}
              {% include '_partials/_components/card/card.twig' with {
                url: item.url,
                image: item.headerImage[0],
                title: item.title,
                date: item.dateCreated,
                summary: item.summaryText|striptags[:40] ~ '...',
                class: 'swiper-slide h-auto'
              } %}
            {% endfor %}
          </div>
          <div class="swiper-pagination d-none"></div>
        </div>
        <a title="" class="c-teaser__prev swiper-prev" href="#">
          <span></span>
        </a>
        <a title="" class="c-teaser__next swiper-next" href="#">
          <span></span>
        </a>

      </div>
      {% if cta.url | length %}
        <div class="d-flex flex-column w-100 text-center align-items-center mt-3 mt-lg-4">
          <a href="{{ cta.url }}"
             title="{{ cta.text }}"
             class="c-btn c-btn-arrow"
             ga-on="click"
             ga-event-category="CTA"
             ga-event-action="Click"
             ga-event-label="{{ cta.text|ucfirst }}"
          >
            <span>{{ cta.text }}</span>
          </a>
          {% if ctaMicro | length %}
            <span class="small text-gray mt-1">
                  {{ ctaMicro }}
                </span>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
