<div class="container">
  <div class="d-flex flex-column align-items-center mb-2 flex-md-row justify-content-md-between justify-content-lg-between align-items-lg-start">
    <div class="d-flex flex-column align-items-center mb-3 align-items-lg-start mb-lg-0">
      {% include '_inline/_svg/logo-biljoenbad' with {
        class: 'w-9 h-2 d-block text-white',
        fill: 'currentColor'
      } %}
      <address class="d-flex flex-column align-items-center mt-2 align-items-lg-start">
        {% if contact.contactStreet | length %}
          <div class="small text-white">{{ contact.contactStreet }}</div>
        {% endif %}
        {% if contact.contactZipcode | length %}
          <div class="small text-white">{{ contact.contactZipcode }}</div>
        {% endif %}
        {% if contact.contactPhone | length %}
          <a class="text-white underline hover-none small" href="tel:{{ contact.contactPhone | striptags }}" title="Bel naar {{ contact.contactPhone }}" target="_blank">{{ contact.contactPhone }}</a>
        {% endif %}
        {% if contact.contactMail | length %}
          <a class="text-white underline hover-none small" href="mailto:{{ contact.contactMail }}" title="Mail naar {{ contact.contactMail }}" target="_blank">{{ contact.contactMail }}</a>
        {% endif %}
      </address>
    </div>
    <div class="d-flex flex-column align-items-center mb-2 align-items-lg-start mb-lg-0">
      <div class="h3 text-white mb-1">Activiteiten</div>
      {{ craft.navigation.render('footerNavActivities', {
        ulClass: 'footer-items',
        liClass: 'footer-item',
        aClass: 'footer-link'
      }) }}
    </div>
    <div class="d-flex flex-column align-items-center mb-2 align-items-lg-start mb-lg-0">
      <div class="h3 text-white mb-1">Faciliteiten en verhuur</div>
      {{ craft.navigation.render('footerNavActivities', {
        ulClass: 'footer-items',
        liClass: 'footer-item',
        aClass: 'footer-link'
      }) }}
    </div>
    <div class="d-flex flex-column align-items-center mb-2 align-items-lg-start mb-lg-0">
      <div class="h3 text-white mb-1">Overig</div>
      {{ craft.navigation.render('footerNavActivities', {
        ulClass: 'footer-items',
        liClass: 'footer-item',
        aClass: 'footer-link'
      }) }}
    </div>
  </div>

  <div class="d-lg-flex justify-content-between pt-3 pt-lg-3 border-top border-gray-400">
    <div class="d-flex flex-column align-items-center flex-sm-row justify-content-sm-center mb-sm-2 mb-lg-0">
      <p class="text-white x-small mb-2 text-center mb-sm-0 mr-sm-3">&copy; {{ 'now'|date('Y') }} Biljoenbad is onderdeel
        van <a class="d-inline-block text-white underline" href="https://www.sportbedrijfrheden.nl/" target="_blank"
               title="Bekijk de website van Sportbedrijf Rheden">Sportbedrijf Rheden</a></p>
    </div>
    {{ craft.navigation.render('footerNavSub', {
      ulClass: 'footer-items footer-sub-items',
      liClass: 'footer-item footer-sub-item',
      aClass: 'footer-link'
    }) }}
  </div>
</div>


