{% import "_partials/_macros.twig" as macro %}
<div class="js-nav c-nav p-0 navbar-expand-lg fixed-top border-bottom bg-white justify-content-between">
  <div class="c-nav-desktop container px-2 px-md-4 d-flex flex-column">
    <div class="c-nav-desktop__sub-menu">
      <form class="c-form-global-search" action="{{ siteUrl('zoeken') }}">
        {% include '_inline/_svg/search-regular' %}
        <label class="d-none" id="search-desktop" for="q">
          Zoeken
        </label>
        <input name="q" id="q" type="search" aria-labelledby="search-desktop" placeholder="Zoeken naar...">
      </form>
      {% set nav = craft.navigation.nodes('mainNavSub').all() %}
      {{ macro.renderNav(nav, true) }}
    </div>


    {# Used both for Desktop as for Mobile #}
    <div class="d-flex flex-row w-100 d-lg-none px-0">
      <a class="d-block" href="/" title="Ga terug naar de homepagina">
        {% include '_inline/_svg/logo-biljoenbad' with {
          class: 'w-9 h-2 d-block'
        } %}
      </a>
      <a title="Open het mobiele menu"
         class="c-nav__toggler js-nav-toggler ml-auto mr-1 d-flex flex-row align-items-center text-teal"
         href="#" data-id="menu-sidebar-toggle">
        <p class="font-base mb-0">
          <small>Menu</small>
        </p>
        {% include '_inline/_svg/icon-menu' with {
          class: 'd-block'
        } %}
      </a>
    </div>

    <div class="c-nav-desktop__main-menu js-nav-collapse">
      <a class="d-block mr-auto" href="/" title="Ga terug naar de homepagina">
        {% include '_inline/_svg/logo-biljoenbad' with {
          class: 'w-9 h-2 mr-2 d-block'
        } %}
      </a>
      {% set nav = craft.navigation.nodes('mainNav').all() %}
      {{ macro.renderNav(nav) }}
      {% if menu.menuTickets.url | length %}
        <a class="c-btn c-btn-yellow ml-4" href="{{ menu.menuTickets.url }}" target="{{ menu.menuTickets.target }}"
           title="{{ menu.menuTickets.title | length ? menu.menuTickets.title : menu.menuTickets.text }}">
          {{ menu.menuTickets.text }}
        </a>
      {% endif %}
    </div>
  </div>
  <div class="c-nav-mobile js-nav-side navbar-side" id="menu-sidebar">
    <div class="js-nav-side-content navbar-side-content">
      <div class="c-nav-mobile__top">
        <a title="Sluit het mobiele menu"
           class="c-nav-mobile__top-close js-nav-side-close" href="#"
           data-id="menu-sidebar-close">
          <p class="font-base mb-0">
            <small>Sluit</small>
          </p>
          {% include '_inline/_svg/icon-sluit' with {
            class: 'd-block'
          } %}
        </a>
      </div>
      <div class="c-nav-mobile__main-menu">
        {% set nav = craft.navigation.nodes('mainNav').all() %}
        {{ macro.renderNav(nav) }}
      </div>
      {% if menu.menuTickets.url | length %}
        <div class="c-nav-mobile__tickets">
          <a class="c-btn c-btn-yellow" href="{{ menu.menuTickets.url }}" target="{{ menu.menuTickets.target }}"
             title="{{ menu.menuTickets.title | length ? menu.menuTickets.title : menu.menuTickets.text }}">
            {{ menu.menuTickets.text }}
          </a>
        </div>
      {% endif %}
      {% if menu.menuStudentSystem.url | length %}
        <div class="c-nav-mobile__login">
          <a href="{{ menu.menuStudentSystem.url }}" class="login"
             title="{{ menu.menuStudentSystem.title | length ? menu.menuStudentSystem.title : menu.menuStudentSystem.text }}"
             target="{{ menu.menuStudentSystem.target }}" ga-on="click" ga-event-category="Menu" ga-event-action="Click"
             ga-event-label="Inloggen leerlingvolgsysteem">
            {{ menu.menuStudentSystem.text }}
          </a>
        </div>
      {% endif %}
      <div class="c-nav-mobile__search">
        <form class="c-form-global-search" action="{{ siteUrl('zoeken') }}">
          {% include '_inline/_svg/search-regular' %}
          <label class="d-none" id="search-mobile" for="s">
            Zoeken
          </label>
          <input name="q" id="s" type="search" aria-labelledby="search-mobile" placeholder="Zoeken naar...">
        </form>
      </div>
      <div class="c-nav-mobile__sub-menu">
        {% set nav = craft.navigation.nodes('mainNavSub').all() %}
        {{ macro.renderNav(nav) }}
      </div>
    </div>
  </div>
</div>
