{% import "_partials/_macros.twig" as macro %}
<div class="js-nav navbar p-0 navbar-expand-lg fixed-top border-bottom bg-white justify-content-between">
  <div class="container px-2 px-md-4 d-flex flex-row navbar-desktop">
    <div class="d-lg-none px-0">
      <a title="Open het mobiele menu" class="navbar-toggler mr-1 d-flex flex-row align-items-center text-teal" href="#"
         data-id="menu-2-sidebar-toggle">
        <p class="font-base mb-0">
          <small>Menu</small>
        </p>
        {% include '_inline/_svg/icon-menu' with {
          class: 'd-block'
        } %}
      </a>
    </div>
    <a class="d-block" href="/" title="Ga terug naar de homepagina">
      {% include '_inline/_svg/logo-biljoenbad' with {
        class: 'w-9 h-2 d-block'
      } %}
    </a>
    <div class="collapse navbar-collapse weight-500 px-0 ml-auto flex-grow-0">

      {% set nodes = craft.navigation.nodes('mainNav').all() %}
      <ul class="nav-items">
        {% nav node in nodes %}
          <li class="nav-item">
            {% set idLink = node.url|first == '#' ? true : false %}
            <a class="nav-link{{ node.active ? ' nav-active' }}{{ idLink ? ' js-scroll' }}" href="{{ node.url }}"
               ga-on="click" ga-event-category="Menu" ga-event-action="Click" ga-event-label="{{ node.title }}">
              {{ node.title }}
            </a>
          </li>
        {% endnav %}
      </ul>
    </div>
  </div>
  <div class="navbar-side navbar-mobile" id="menu-2-sidebar" data-id="menu-2-sidebar-close">
    <div class="navbar-side-content d-flex flex-column justify-content-between">
      <div class="weight-700">
        <a title="Sluit het mobiele menu" class="navbar-side-close mb-4 d-flex flex-row align-items-center ml-0" href="#"
           data-id="menu-2-sidebar-close">
          <p class="font-base mb-0">
            <small>Sluit</small>
          </p>
          {% include '_inline/_svg/icon-sluit' with {
            class: 'd-block'
          } %}
        </a>
        <div class="navbar-nav">
          {% set nodes = craft.navigation.nodes('mainNav').all() %}
          <ul class="nav-items">
            {% nav node in nodes %}
              <li class="nav-item">
                {% set idLink = node.url|first == '#' ? true : false %}
                <a class="nav-link{{ node.active ? ' nav-active' }}{{ idLink ? ' js-scroll' }}" href="{{ node.url }}"
                   ga-on="click" ga-event-category="Menu" ga-event-action="Click" ga-event-label="{{ node.title }}">
                  {{ node.title }}
                </a>
              </li>
            {% endnav %}
          </ul>
        </div>
      </div>
      {% if not social.socialFacebook.isEmpty or social.socialInstagram.isEmpty %}
        <div class="w-100 d-flex flex-row justify-content-center align-items-center">
          <span class="d-block d-xl-inline mr-2 small text-teal">Volg ons ook op</span>
          {% if not social.socialFacebook.isEmpty %}
            <a title="Ga naar onze Facebookpagina" class="d-block" href="{{ social.socialFacebook.getUrl() }}" target="{{ social.socialFacebook.getTarget() }}">
              <svg class="d-block" width="22" height="22">
                <title>Facebook logo</title>
                <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          {% endif %}
          {% if not social.socialInstagram.isEmpty %}
            <a title="Ga naar onze Instagram" class="ml-2 d-block" href="{{ social.socialInstagram.getUrl() }}" target="{{ social.socialInstagram.getTarget() }}">
              <svg class="d-block" width="22" height="22">
                <title>Instagram logo</title>
                <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon-insta"></use>
              </svg>
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
