{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: _entry
  @author:   sam
  ====================================================== #}
{#
Detail page for news item
#}

{% import "_partials/_macros.twig" as macro %}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
  <style>
    {{ source ("index_critical.min.css", ignore_missing = true) }}
  </style>
{% endblock %}

{% block content %}

  {% cache %}
    {% include '_partials/_global/header' with {
      title: entry.title,
      image: entry.headerImage.one(),
      intro: entry.intro
    } %}
  {% endcache %}

  {% include "_partials/_common/matrix.twig" %}

  {% set overview = craft.entries.section('newsOverview') %}

  {% if overview | length %}
    {% set overview = overview[0] %}
    <div class="container">
      <div class="border-top border-gray-400">
        <div class="row">
          <div class="col-12">
            <div class="py-4 mb-4">
              <div class="d-flex flex-column flex-md-row">
                <a class="c-btn" href="{{ overview.url }}">
                  {% include '_inline/_svg/angle-left-light.twig' %} <span class="ml-1">Terug naar overzicht</span>
                </a>
                {% if social.socialFacebook.url | length or social.socialInstagram.url | length or social.socialYoutube.url | length %}
                  <div class="d-flex flex-row justify-content-center align-items-center mt-4 mt-md-0 ml-md-auto">
                    <p class="mb-0">Volg ons op</p>
                    {% if social.socialFacebook.url | length %}
                      <a
                        title="{{ social.socialFacebook.title | length ? social.socialFacebook.title : 'Ga naar onze Facebookpagina' }}"
                        class="d-block ml-2 hover-dark"
                        href="{{ social.socialFacebook.url }}"
                        target="{{ social.socialFacebook.target }}">
                        <span class="c-icon">
                          {{ macro.renderSvgSprite('icon-facebook', 'text-teal-400') }}
                        </span>
                      </a>
                    {% endif %}
                    {% if social.socialInstagram.url | length %}
                      <a
                        title="{{ social.socialInstagram.title | length ? social.socialInstagram.title : 'Ga naar onze Instagram' }}"
                        class="d-block ml-2 hover-dark"
                        href="{{ social.socialInstagram.url }}"
                        target="{{ social.socialInstagram.target }}">
                  <span class="c-icon">
                    {{ macro.renderSvgSprite('icon-insta', 'text-teal-400') }}
                  </span>
                      </a>
                    {% endif %}
                    {% if social.socialYoutube.url | length %}
                      <a
                        title="{{ social.socialYoutube.title | length ? social.socialYoutube.title : 'Ga naar ons Youtube kanaal' }}"
                        class="d-block ml-2 hover-dark"
                        href="{{ social.socialYoutube.url }}"
                        target="{{ social.socialYoutube.target }}">
                  <span class="c-icon">
                    {{ macro.renderSvgSprite('icon-youtube', 'text-teal-400') }}
                  </span>
                      </a>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block _inline_js %}
{% endblock %}
