{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: youtube
  @date:     06 jan. 2021
  @author:   sam
  ====================================================== #}
{#
Add a small discription about this file/componennt and what it does
#}

{% import "_partials/_macros.twig" as macro %}

{% set link = link is defined ? link : '' %}
{% set gdrp = gdpr is defined ? gdpr : true %}

{% if link | length %}
  {% set youtubeId = craft.youtubeid.getId(link) %}

  {% set image = image is defined and image | length ? image : 'https://img.youtube.com/vi/' ~ youtubeId ~ '/hqdefault.jpg' %}
  <div class="c-youtube">
    <div class="c-youtube__player
                        {{ (craft.gdpr.getCookie('gdprYoutube')) ? 'js-youtube-ready' : 'c-youtube__player_not-playing' }}">
      <div class="c-youtube__player__youtube js-youtube" id="youtube-{{ youtubeId }}"
           data-autoplay="false" data-url="{{ youtubeId }}"></div>


      <div class="c-youtube__player__thumbnail c-youtube_thumbnail js-youtube_play">
        {{ macro.renderPicture(
          image,
          [{
            'sizes': [
              { width: 1200, ratio: 923/510 },
              { width: 960, ratio: 923/510 },
              { width: 640, ratio: 923/510 },
              { width: 320, ratio: 923/510 }
            ]
          }],
          entry.title, 'h-full') }}

      </div>
      {% if gdpr %}
        {% if not craft.gdpr.getCookie('gdprYoutube') %}
          <div class="c-youtube__player__overlay js-youtube_play"></div>

          <div class="c-youtube__player__gdpr">
            <div class="c-youtube__player__gdpr_content">

              <div class="c-youtube__player__gdpr_text">
                {% set notificationInfo = craft.gdpr.getNotificationInfo %}
                {% set gdprUrl = 'Youtube plaatst en beheert cookies voor het afspelen van deze video.
                            <br /><a href="' ~ notificationInfo['settingsUrl'] ~ '">Klik hier voor meer
                        informatie</a>' %}

                {{ gdprUrl | t | raw }}
              </div>

              <form class="c-gdpr_form js-youtube-gdpr-form" method="post" data-youtubeid="{{ youtubeId }}">
                {{ getCsrfInput() }}
                {# <input name="action" type="hidden" value="actions/gdpr/site/cookies"> #}
                <input name="youtube" type="hidden" value="on">
                <button class="c-youtube__player__gdpr_button c-button c-button_white
                            c-button_rounded">{{ 'prima, spelen maar' | t }}</button>
              </form>

              <a href="{{ link }}" class="c-youtube__player__gdpr_link" target="_blank">
                {{ 'Open de video op youtube.com' | t }}</a>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endif %}
