{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: cta-banner
  @author:   sam
  ====================================================== #}

{% import "_partials/_macros.twig" as macro %}

{% set title = title is defined ? title : '' %}
{% set image = image is defined ? image : '' %}
{% set cta1 = cta1 is defined ? cta1 : '' %}
{% set cta1Primary = cta1Primary is defined ? cta1Primary : false %}
{% set cta2 = cta2 is defined ? cta2 : '' %}
{% set cta2Primary = cta2Primary is defined ? cta2Primary : false %}

{% set transforms =
  [
    {
      'sizes': [
      {width: 320, ratio: 320/200}
    ],
    },
    {
      'media': 'min-width: 425px',
      'sizes': [
      {width: 425, ratio: 425/200}
    ],
    },
    {
      'media': 'min-width: 375px',
      'sizes': [
      {width: 375, ratio: 375/200}
    ],
    },
    {
      'media': 'min-width: 768px',
      'sizes': [
      {width: 768, ratio: 768/300}
    ],
    },
    {
      'media': 'min-width: 1024px',
      'sizes': [
      {width: 1024, ratio: 1024/400}
    ],
    },
    {
      'media': 'min-width: 1440px',
      'sizes': [
      {width: 1440, ratio: 1440/400}
    ],
    },
  ] %}

{% if title | length and image | length %}
  {% set id = random() %}
  <div class="c-cta-banner-bg c-cta-banner-{{ id }}">
    {{ macro.renderImageBackgroundCss(image, transforms, 'c-cta-banner-' ~ id ) }}
    <div class="c-cta-banner-bg__overlay">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="c-cta-banner">
            <div class="c-cta-banner__title">
              {{ title|raw|nl2br }}
            </div>
            <div class="c-cta-banner__wrapper">
              {% if cta1.url | length %}
                <div
                  class="c-cta-banner__cta">
                  <a href="{{ cta1.url }}"
                     title="{{ cta1.title | length ? cta1.title : cta1.text }}"
                     class="c-btn c-btn-arrow {{ cta1Primary ? 'c-btn-yellow' : 'c-btn-teal' }}"
                     ga-on="click"
                     ga-event-category="CTA"
                     ga-event-action="Click"
                     ga-event-label="{{ cta1.text|ucfirst }}"
                  >
                    <span>{{ cta1.text }}</span>
                  </a>
                </div>
              {% endif %}

              {% if cta2.url | length %}
                <div class="c-cta-banner__cta">
                  <a href="{{ cta2.url }}"
                     title="{{ cta2.title | length ? cta2.title : cta2.text }}"
                     class="c-btn c-btn-arrow {{ cta2Primary ? 'c-btn-yellow' : 'c-btn-teal' }}"
                     ga-on="click"
                     ga-event-category="CTA"
                     ga-event-action="Click"
                     ga-event-label="{{ cta2.text|ucfirst }}">
                    <span>{{ cta2.text }}</span>
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
