{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: index
  @date:     288 Oct 2019
  ====================================================== #}
{#
Template file for the homepage
#}

{# {% import "_partials/_macros.twig" as macro %} #}
{# uncomment line above if you need to use macros in your template #}
{% set contactBlockClass = 'bg-teal-100' %}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
  <style>
    {{ source ("index_critical.min.css", ignore_missing = true) }}
  </style>
{% endblock %}

{% block content %}
  {% include '_partials/_index/header' with {
    image: entry.headerImage.one(),
    wave: true,
    payoff: true
  } %}

  {# Get start time and end time of day #}
  {% set calendars = craft.calendar.calendars() %}
  {% set calendarsIds = [] %}
  {% for calendar in calendars %}
    {% set calendarsIds = calendarsIds | merge ([calendar.id]) %}
  {% endfor %}

  {% set day = craft.calendar.day({
    date: 'today',
    calendarId: calendarsIds
  }) %}

  {% set startTime = '' %}
  {% set endTime = '' %}

  {% for event in day.events %}
    {% if loop.first %}
      {% set startTime = event.startDate %}
      {% set endTime = event.endDate %}
    {% else %}
      {% set startTime = startTime < event.startDate ? startTime : event.startDate %}
      {% set endTime = endTime > event.endDate ? endTime : event.endDate %}
    {% endif %}
  {% endfor %}

  <div class="bg-teal pt-2 pt-lg-4">
    <div class="container">
      {% if entry.headsUp | length %}
        <div class="mb-3 mt-lg-3 mb-lg-4">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                {% include '_partials/_components/heads-up/heads-up.twig' with {
                  text: entry.headsUp
                } %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="container">
        <div class="row">
          <div class=" w-100 col-lg-10 offset-lg-1">
            <div class="d-flex flex-column justify-content-center w-100 mb-4 w-sm-auto flex-sm-grow-0 flex-sm-row">
              <div class="bg-teal-500 rounded-sm d-flex flex-column w-100 align-items-center px-2 py-3 px-md-4 px-lg-5">
                <div class="w-14 d-md-flex flex-md-row w-md-auto">

                  {% set pricesPage = craft.entries.section('calendarPrices').one() %}

                  {% if pricesPage | length %}
                    <a href="{{ pricesPage.url }}" title="Ga naar de rooster en tarieven pagina"
                       class="d-flex flex-row align-items-center mb-1 mr-md-2 mb-md-0">
                      <svg class="mr-2 flex-shrink-0" width="35" height="35">
                        <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon-calendar"></use>
                      </svg>
                      <span class="text-white weight-700">
                {% if startTime | length and endTime | length %}
                  Vandaag geopend van <span class="text-yellow">{{ startTime.format('H:i') }}</span> tot <span
                  class="text-yellow">{{ endTime.format('H:i') }}</span>
                {% else %}
                  Vandaag gesloten
                {% endif %}
              </span>
                    </a>
                  {% else %}
                    <div  class="d-flex flex-row align-items-center mb-1 mr-md-2 mb-md-0">
                      <svg class="mr-2 flex-shrink-0" width="35" height="35">
                        <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon-calendar"></use>
                      </svg>
                      <span class="text-white weight-700">
                        Vandaag gesloten
                      </span>
                    </div>
                  {% endif %}
                  {% if contact.contactStreet | length %}
                    <a class="d-flex flex-row align-items-center ml-lg-2" target="_blank"
                       href="https://maps.google.com/?q={{ contact.contactStreet }}%20{{ contact.contactPlace }}"
                       title="Bekijk op Google Maps">
                      <svg class="mr-2 flex-shrink-0" width="35" height="35">
                        <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon-marker"></use>
                      </svg>
                      <span
                        class="text-white weight-700">Gruttostraat 3{% if contact.contactPlace | length %}, {{ contact.contactPlace }}{% endif %}</span>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      {% if entry.intro | length %}
        <div class="w-100 d-flex flex-row justify-content-center">
          <div class="mb-2 col-lg-10 text-center text-white">
            {{ entry.intro }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="wave bg-teal-100 pb-4 pb-lg-8">
    {% include '_inline/_svg/lower-wave' with {
      class: 'lower-wave'
    } %}
  </div>

  {% include '_partials/_index/activities' %}

  <div class="container mt-5 mt-lg-10">
    {% include '_partials/_index/preview' %}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include '_partials/_index/facilities' %}
      </div>
    </div>
  </div>
  {% set teaserItems = entry.newsItems.all() %}

  {% if teaserItems | length %}
    <div class="bg-teal-100 py-4 py-lg-8">
      <div class="container">
        <div class="row">
          <div class="col-12">
            {% include '_partials/_components/teaser/teaser.twig' with {
              title: entry.newsTitle,
              items: teaserItems,
              cta: entry.newsCta
            } %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

  {% block _inline_js %}
  {% endblock %}
