{% import "_partials/_macros.twig" as macro %}
<h2 class="text-teal-600 text-uppercase text-center mb-4 mb-lg-6">Locatie en bereikbaarheid</h2>
<div class="flex flex-column flex-lg-row row">
  <div class="col-12 col-lg-6 mb-3">
    <div class="mr-lg-3">
      <p class="mb-4">
        Het Biljoenbad wordt gebouwd op de hoek van de Gruttostraat en Reigerstraat in Velp. Er komt voldoende
        parkeergelegenheid en een fietsenstalling. Ook krijgt het zwembad een rolstoelvriendelijke ingang.
      </p>
      <p class="mb-4">
        <b>Biljoenbad</b><br>
        Gruttostraat 3<br>
        6883 CN Velp<br>
        <a class="hover-underline" href="mailto:info@biljoenbad.nl" title="Mail naar info@biljoenbad.nl">info@biljoenbad.nl</a>
      </p>
      {% if not social.socialFacebook.isEmpty or not social.socialInstagram.isEmpty %}
        <div class="w-100 d-flex flex-row align-items-center">
          <span class="d-block d-xl-inline mr-2 small text-teal">Volg ons ook op</span>
          {% if not social.socialFacebook.isEmpty %}
            <a title="Bekijk onze Facebook pagina" class="d-block" href="{{ social.socialFacebook.getUrl() }}" target="{{ social.socialFacebook.getTarget() }}">
              <svg class="d-block" width="22" height="22">
                <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          {% endif %}
          {% if not social.socialInstagram.isEmpty %}
            <a title="Bekijk onze Instagram" class="ml-1 d-block" href="{{ social.socialInstagram.getUrl() }}" target="{{ social.socialInstagram.getTarget() }}">
              <svg class="d-block" width="22" height="22">
                <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon-insta"></use>
              </svg>
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col-12 col-lg-6">
    {% set image = entry.googleMaps.one() %}
    {% set transforms =
      [
        {
          'media': 'min-width: 994px',
          'sizes': [
          {width: 515, ratio: 515/330, quality: 100}
        ],
        },
        {
          'media': 'min-width: 768px',
          'sizes': [
          {width: 870, ratio: 870/556, quality: 100}
        ],
        },
        {
          'media': 'min-width: 420px',
          'sizes': [
          {width: 722, ratio: 722/500, quality: 100}
        ],
        },
        {
          'sizes': [
          {width: 300, ratio: 286/345, quality: 100}
        ],
        }
      ] %}
    {{ macro.renderPicture(image, transforms, true, image.title, 'w-100 d-block') }}
  </div>
</div>
