{% set faq = [
  {
    question: 'Wanneer is het Biljoenbad klaar?',
    answer: 'We verwachten dat de bouw van het bad in oktober klaar is. Daarna gaan we flink aan de slag met inrichten en gaan we proefdraaien. Vanaf half november hopen we je te ontvangen in het gloednieuwe Biljoenbad!'
  },
  {
    question: 'Kan ik me al inschrijven voor de zwemlessen?',
    answer: 'Inschrijven voor de zwemlessen doe je nog even bij Zwembad de Dumpel, of online via <a href="https://www.sportbedrijfrheden.nl/" target="_blank" title="Ga naar de website van Sportbedrijf Rheden">www.sportbedrijfrheden.nl</a>. We nemen de zwemlessen die gepland staan bij Zwembad de Dumpel straks mee naar het nieuwe Biljoenbad.'
  },
  {
    question: 'Wat gebeurt er met De Dumpel?',
    answer: 'We bekijken op dit moment wat we met het pand van het oude zwembad kunnen. Het blijft in ieder geval geen zwembad meer. Mogelijk krijgt het pand een andere invulling. We verwachten hier in de tweede helft van 2020 meer duidelijkheid over.'
  }
] %}

<div class="row justify-content-center">
  <div class="col-12 col-lg-10">
    <h2 class="text-center text-teal-600 text-uppercase mb-4 mb-lg-5">Veelgestelde vragen</h2>
    <div class="accordion" id="accordion">
      {% for item in faq %}
        <div tabindex="0" class="js-faq js-tab-click faq d-block mb-2 rounded pl-3 pr-3 py-2 focus-border" data-click-selector="#tab-click-{{ loop.index }}" data-ga-question="{{ item.question }}">
          <p id="tab-click-{{ loop.index }}" class="w-100 mb-0 caret-down collapsed pr-4 weight-700" data-toggle="collapse"
             data-target="#faq-{{ loop.index }}">{{ item.question }}</p>
          <div class="collapse" id="faq-{{ loop.index }}" data-parent="accordion">
            <p class="mt-3 mb-0">{{ item.answer | raw }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
