{% import "_partials/_macros.twig" as macro %}
<h2 class="text-uppercase text-teal-600 text-center mb-2">Zo ziet het Biljoenbad er straks uit</h2>
<p class="small text-gray-800 text-center">© Slangen+Koenis Architecten</p>
<div class="swiper pt-3 pb-4 pb-lg-5 pt-lg-4">
  <div class="swiper-container row js-swiper-preview">
    <div class="swiper-wrapper d-flex flex-row h-auto">
      {% for slide in entry.preview.all() %}
        <div class="swiper-slide swiper-slide-side-by-side col-11 col-md-12 pb-6" data-title="{{ slide.previewTitle }}">
          {% set image = slide.previewImage.one() %}
          {% set tranformedImage = craft.imager.transformImage(image, {
            width: 700,
            height: 400
          }) %}
          <div class="swiper-slide__image"
               style="background:url({{ tranformedImage.url }}) center no-repeat;background-size:cover;">
          </div>
          <div class="swiper-slide__content">
            <div class="d-flex flex-row align-items-center mb-2 mb-lg-3">
              <svg class="mr-2" width="35" height="35">
                <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon-marker-yellow"></use>
              </svg>
              <p class="mb-0 weight-700 text-teal-600 ">{{ slide.previewTitle }}</p>
            </div>
            <blockquote class="blockquote weight-700 text-teal mb-3">
              {{ slide.previewQuote }}
            </blockquote>
            <p class="mb-0">
              {{ slide.previewText | striptags }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <a title="Vorige slide" class="carousel-control-prev swiper-button pb-8" href="#">
    {% include '_inline/_svg/icon-chevron-left' %}
  </a><a title="Volgende slide" class="carousel-control-next swiper-button pb-8" href="#">
    {% include '_inline/_svg/icon-chevron-right' %}
  </a>
</div>
<h3 class="text-uppercase text-teal-600 text-center mb-4" id="voorzieningen">Voorzieningen van het Biljoenbad</h3>

{% set services = [
  {
    title: 'Wedstrijdbad',
    svg: 'icon-wedstrijdbad',
    svgHeight: 32,
    svgWidth: 31
  },
  {
    title: 'Verwarmd activiteitenbad <span class="small">32°C</span>',
    svg: 'icon-activiteitenbad',
    svgHeight: 29,
    svgWidth: 16
  },
  {
    title: 'Peuter- en kleuterbad',
    svg: 'icon-peuterbad',
    svgHeight: 26,
    svgWidth: 28
  },
  {
    title: 'Luie trap en beweegbare bodem',
    svg: 'icon-beweegbarebodem',
    svgHeight: 25,
    svgWidth: 25
  },
  {
    title: 'Praktijkruimte',
    rent: true,
    svg: 'icon-praktijkruimte',
    svgHeight: 25,
    svgWidth: 20
  },
  {
    title: 'Familiekleedkamer',
    svg: 'icon-familiekleedkamer',
    svgHeight: 30,
    svgWidth: 27
  },
  {
    title: 'Gratis lockers',
    svg: 'icon-locker',
    svgHeight: 27,
    svgWidth: 18
  },
  {
    title: 'Multifunctionele ruimte',
    rent: true,
    svg: 'icon-multi-ruimte',
    svgHeight: 23,
    svgWidth: 25
  },
  {
    title: 'Vergaderruimte',
    rent: true,
    svg: 'icon-vergaderruimte',
    svgHeight: 25,
    svgWidth: 9
  },
  {
    title: 'Eet- en drinkgelegenheid',
    svg: 'icon-eten',
    svgHeight: 28,
    svgWidth: 17
  },
  {
    title: 'Rolstoeltoegankelijk',
    svg: 'icon-rolstoel',
    svgHeight: 29,
    svgWidth: 21
  },
  {
    title: 'Gratis WiFi',
    svg: 'icon-wifi',
    svgHeight: 16,
    svgWidth: 23
  },
  {
    title: 'Gratis parkeergelegenheid',
    svg: 'icon-parkeren',
    svgHeight: 26,
    svgWidth: 26
  },
  {
    title: 'Dichtbij openbaar vervoer',
    svg: 'icon-bus',
    svgHeight: 27,
    svgWidth: 25
  }
] %}

<div class="d-flex flex-column pb-5 flex-md-row flex-md-wrap justify-content-between justify-content-lg-start">
  {% for item in services %}
    <div class="c-service d-flex flex-row pt-3 pb-3 mb-md-2">
      <div class="mr-2 mr-lg-1 w-2 d-flex align-items-center justify-content-center">
        <svg width="{{ item.svgWidth }}" height="{{ item.svgHeight }}">
          <use xlink:href="/assets/images/svg/sprite/sprite.svg#{{ item.svg }}"></use>
        </svg>
      </div>
      <div class="mb-0 ml-1 d-flex align-items-center">
        <p class="weight-700 text-teal mb-0">{{ item.title | raw }}
        {% if item['rent'] is defined and item.rent %}
          <span class="weight-300"> (te huur)</span>
        {% endif %}
        </p>
      </div>
    </div>
  {% endfor %}
</div>
