{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: team
  @date:     24 aug. 2020
  @author:   sam
  ====================================================== #}
{#
  Add a small discription about this file/componennt and what it does
#}

{% import "_partials/_macros.twig" as macro %}

{% set intro = intro is defined ? intro : '' %}
{% set members = members is defined ? members %}

{% if members | length %}
  {% if intro | length %}
    <div class="mb-4">
      {{ intro }}
    </div>
  {% endif %}
  <div class="c-team d-flex flew-row flex-wrap">
    {% for member in members.all() %}
      <div class="c-team__member">
        <div class="c-team__member__image">
          {% set image = member.teamImage.one() %}
          {% set transFormedImage = craft.imager.transformImage(image, {
            width: 100,
            height: 100,
            mode: 'crop'
          }) %}
          <img src="{{ transFormedImage.url }}" alt="{{ image.title }}">
        </div>
        <div class="c-team__member__title">
          {{ member.title }}
        </div>
        <div class="c-team__member__function">
          {{ member.teamFunction }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
